:root {
  --light-blue: #339CFF;
  --dark-blue: #0B3B60;
  --white: #FFFFFF;
  --grey: #6B6E71;
  --light-grey: #E7EBEF;
  --primary-font: 'Public Sans', sans-serif;
  --secundary-font: 'Archivo', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
}

.header-logo {
  max-width: 160px;
  max-height: 85px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: .1;
}

.link-header {
  color: var(--dark-blue);
  font-weight: 700;
}

.container {
  background-color: var(--light-grey);
  margin: 4em;
  border-radius: 16px;
  padding: 2em;
  height: 100%;
}

.title-span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.icon-rate {
  background-image: url('../assets/star.png');
  margin-right: 8px;
}

.icon-table {
  background-image: url('../assets/table.png');
  margin-right: 8px;
}

.icon-chart {
  background-image: url('../assets/chart.png');
  margin-right: 8px;
}

.title {
  color: var(--dark-blue);
}

.title-container {
  display: flex;
  align-items: center;
}

.footer {
  height: 100%;
  color: white;
  padding: 1em;
  background-color: var(--dark-blue);
  text-align: center;
}

.footer-ul {
  display: flex;
  justify-content: space-around;
  width: 10%;
  margin: 1em auto;
}

.footer-li {
  list-style-type: none;
}

.chart-section {
  background-color: var(--white);
  border-radius: 16px;
}

.rate-card-div {
  flex: 40%;
  max-width: 100%;
  background-color: var(--white);
  padding: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  color: var(--grey);
  margin: 1em 2em 1em;
}

.rate-card-ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

.rate-card-li {
  list-style-type: none;
}

.rate-card-li-name {
  flex-grow: 1;
}

.rate-card-p {
  font-weight: 700;
}

.rate-card-img {
  border-radius: 100%;
  width: 64px;
  object-fit: cover;
  height: 64px;
  border: 2px solid var(--light-blue);
  margin-right: 1em;
}

.rate-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.subtitle-h3 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 18px;
}

.button {
  background-color: var(--dark-blue);
  border-radius: 8px;
  padding: 12px 16px;
  color: var(--white);
  border: none;
  margin-top: 1em;
  font-weight: 700;
  line-height: 19px;
}

.button:hover {
  cursor:pointer;
}

.sales-modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  padding: 1em 5em;
}

.sales-modal-container {
  text-align: left;
}

.sales-modal-container-rate {
  text-align: center;
}

.sales-modal-button {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.input-container {
  width: 100%;
}

.input-label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-blue)
}

.input {
  background: var(--white);
  margin: 1em 0;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0,0,0, 0.25);
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 16px;
}

.MuiRating-visuallyHidden {
  color: var(--grey);
}

.sales-table-actions {
  cursor: pointer;
}

.sales-table-actions:hover {
  color: var(--dark-blue);
}